html {
  scroll-behavior: smooth;
}

body {
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
  max-width: 100vw;
  justify-content: space-between;
  overflow-x: hidden;
  text-transform: uppercase;
  width: 100vw;
}

.header {
  align-items: center;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100vw;
}

a:active {
  box-shadow: none;
}

a {
  text-decoration: none;
  color: black;
}

#header-name {
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
}

.about {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: space-evenly;
  margin-right: 10px;
  text-transform: uppercase;
  width: 400px;
}

.main-container {
  align-items: center;
  /* background-image: linear-gradient(45deg, rgb(187, 187, 194), rgb(163, 160, 160)); */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  height: 770px;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100vw;
}

.about-me, .projects, .certificates {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
  width: 100vw;
}

.certificates {
  height: auto;
}

.about-me {
  background-image: linear-gradient(45deg, rgb(240, 238, 238), rgb(255, 255, 255));
}

.section-title {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: center;
  height: 100px;
  width: 100vw;
}

.about-me-article {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  max-height: 100%;
  text-align: start;
  width: 50%;
}

.about-me-bio {
  align-items: center;
  color: #666;
  display: flex;
  justify-content: center;
  margin-top: 16px;
  text-transform: none;
  width: 80%;
}

#sobre {
  background-image: linear-gradient(45deg, rgb(240, 240, 240), rgb(255, 255, 255));
}

.about-me-stacks {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 50%;
}

.name-text {
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 4em;
}

.bio-text {
  color: rgb(50, 48, 48);
  font-size: larger;
  max-width: 600px;
}

.main-button {
  background-color: rgb(234, 234, 15);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
  height: 50px;
  padding: 5px;
  transition: transform 0.3s ease;
  text-align: center;
  width: 200px;
}

#redes {
  align-items: center;
  background-color: #faf6f6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  position: absolute;
  left: 0px;
  padding: 10px;
  top: 250px;
}

.redes-img {
  cursor: pointer;
  height: 40px;
  transition: transform 0.3s ease;
  width: 40px;
}

.to-hover:hover {
  transform: scale(1.1);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  align-items: center;
  background-color: rgb(234, 234, 15);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
  color: #666;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin: 5px;
  text-transform: uppercase;
  width: 120px;
}

.my-stacks {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding-top: 10px;
  width: 80%;
}

.line {
  background-color: rgb(234, 234, 15);
  border-radius: 5px;
  height: 5px;
  margin-top: 10px;
  width: 30px;
}

.projects {
  background-color: #ffffff;
  overflow-x: auto;
}

#projetos {
  background-color: #ffffff;
}

.project-container {
  align-items: center;
  background-image: linear-gradient(45deg, rgb(225, 225, 230), rgb(187, 183, 183));
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-evenly;
  margin-left: 15px;
  margin-right: 15px;
  transition: transform 0.3s ease;
  text-transform: uppercase;
  width: 400px;
}

#project-image {
  border-radius: 5px;
  height: 120px;
  width: 220px;
}

.technologies {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  justify-content: space-evenly;
  width: 220px;
}

.technology-p {
  background-color: rgb(234, 234, 15);
  border-radius: 5px;
  color: rgb(108, 99, 99);
  font-weight: 600;
  padding: 5px;
  /* text-transform: lowercase; */
}

#link-image {
  margin-left: 2px;
  height: 20px;
  width: 20px;
}

#link-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

#link-text {
  font-weight: 600;
}

.certificates {
  flex-direction: column;
  background-image: linear-gradient(45deg, rgb(240, 234, 234), rgb(255, 255, 255));
}

.certificate-container {
  align-items: center;
  display: flex;
  height: 350px;
  justify-content: center;
  width: 100vw;
}

#certificados {
  background-image: linear-gradient(45deg, rgb(240, 240, 240), rgb(255, 255, 255));
}

.certificate-left, .certificate-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

#certificate-image-container {
  border-radius: 5px;
  height: 250px;
  width: 400px;
}


.certificate-right {
  text-align: start;
  text-transform: none;
}

#certificate-text {
  color: #666;
  max-width: 400px;
}

#division-line {
  border-bottom: 1px solid rgb(151, 135, 135);
  margin-top: 10px;
  width: 90%;
}